<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> ACI 35 - TEAM #6988 </title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" > ACI 35 </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Our Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Our Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1> <i> "Spirit, mechanics, fun!" </i> <br> </h1>
              <h1 class="brand-heading"><font color="#FFD700">ACI 35 #6988</font></h1>
              <p class="intro-text"><font color="#B8860B">
                <br>American Collegiate Institute FRC team.</font></p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2><font color="#FFD700"> About ACI 35</font></h2>
            <p>Our team is an important part of the formation in our school which is called “ACI Garage”. ACI Garage
               is a project that is founded in order to make students experience their dreams beyond theoretical works.
               As ACI 35, we had our spirit from this “garage” and take off for our FRC journey with the Turkish
               Off-Season event that is held in Istanbul. We did great job by being one of the semi-finalist in
               this off-season experience. We may be a rookie team, however, we are looking forward to achieve more
               and more in the regional competition that will take place in New York.
           </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2><font color="#FFD700">Our Sponsors</font></h2>

        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2><font color="#FFD700">Our Team</font></h2>


            <div id="contentBox" style="margin:0px auto; width:70%">

<!-- columns divs, float left, no margin so there is no space between column, width=1/3 -->
                <div id="column1" style="float:left; margin:0; width:60%;">
                  <h1> MENTORS   <h1>
                    <p>
                      Kaya DUMAN <br>
                      Muammer ERGUN
                    </p>
                </div>

                <div id="column2" style="float:left; margin:0;width:40%;">
                  <h1> TEAM <br> MEMBERS<h1>
                  <p>
                    Arif Kerem DAYI <br>
                    Arda SATICI <br>
                    Yiğit DÜZENLİOĞLU <br>
                    Arman ÖZKAYA <br>
                    Paşa Ali ASLAN <br>
                    Eren KODAL
                  </p>
                </div>
                </div>

            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://instagram.com/frc_aci35/" class="btn btn-default btn-lg">
                  <i class="fa fa-instagram fa-fw"></i>
                  <span class="network-name">Instagram</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="********" class="btn btn-default btn-lg">
                  <i class="fa fa-facebook fa-fw"></i>
                  <span class="network-name">Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="***********" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; ACI 35 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>


    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>
